/* Hoja de estilos CSS */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;1,200;1,400;1,700&display=swap');


@font-face {
    font-family: 'Poppins';
    src: url(Poppins/Poppins-Light.ttf);
}

* {
    margin: 2;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

header {
    background-color: #3e424d;
    color: #fff;
    padding: 20px;
}

header .Tienda{
    font-weight: 846;
    color: #7ef3df;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header .ul li{
    font-weight: 846;
    color: #dd1717;
    text-decoration: none;
}

body{
    min-height: 100px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
    transition: .5s;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
}

header ul li a{
    margin: 0 15px;
    text-decoration: none;
    color: #7ef3df;
    letter-spacing: 2px;
    font-weight: 400;
}

header.sticky{
    background: #7ef3df;
    padding: 12px 100px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.5)
}

header.sticky ul li a {
    color: #3e424d;
}

header.sticky .Tienda {
    color: #4b546d;
}

.banner{
    width: 100%;
    min-height: 100vh;
    background: url(../assets/2.png);
    background-color: #4b546d;
    display: flex;
    justify-content: right;
    align-items: center;
    background-size: cover;
}

.sec {
    background-color: #fff;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec2 {
    background-color: #fff;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec .content{
    text-align: center;
    width: 100%;
}


.mxw800p {
    max-width: 800px;
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen {
    max-width: 38%;
    float: left;
    margin-right: 40px;
}

.txt{
    margin-left: 20px;
    text-align: center;
}

.btn1 {
    display: inline-block;
    background: #3e424d;
    color: #7ef3df;
    padding: 10px 30px;
    text-decoration: none;
}

h1 {
    color: #fff;
    font-size: 45px;
    margin-left: 720px;
    text-align: center;
}

h3 {
    font-size: 45px;
    font-weight: 200;
    margin-bottom: 10px;
    font-family: 'Roboto';
    src: url(Roboto/Roboto-Medium.ttf);
    color: #3e424d;
    
}

h4 {
    font-size: 45px;
    font-weight: 200;
    margin-bottom: 10px;
    font-family: 'Roboto';
    src: url(Roboto/Roboto-Medium.ttf);
    color: #3e424d;
}

h5 {
    font-size: 45px;
    font-weight: 200;
    margin-bottom: 10px;
    font-family: 'Roboto';
    src: url(Roboto/Roboto-Medium.ttf);
    color: #3e424d;
}

p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-family: 'Poppins';
    src: url(Poppins/Poppins-Light.ttf);
}

.services{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 100%;
    margin-top: 60px;

    
}

.advan {
    background: #fff;
    min-height: 50vh;
}

.advanBox{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    max-width: 100%;
}

.advanBox .box{
width: 250px;
height: 250px;
background: #4b546d;;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 150px;
}

.advanBox .box:hover{
    background: #fff;
    border: 10px solid #7ef3df;;
}

.services .box{
    width: 250px;
    margin: 0 auto;
    box-shadow: 0px 10px 15px black;
    padding: 20px;
}

.services .box h2{
    color: #dd1717;
    font-size: 18px;

}

/*slider */
.slider {
    position: relative;
}
.slider-items{
    overflow: hidden;
}

@keyframes zoom{
    0%{transform: scale(1.2); opacity: 0;}
    100% { transform: scale(1); opacity: 1;}
}
.slider-items .item{
    display: none;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
animation: zoom 1s;
}

.slider-items .item img{
    max-width: 70%;
}

.slider-items .item.active{
    display: block;
}

.slider-items .item .descripcion{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.5);
}

.slider .ir-atras,
.slider .ir-sig{
    width: 50px;
    height: 50px;
    background: #4b546d;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: #7ef3df;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.slider .ir-atras{
    left: 10px;
}

.slider .ir-sig{
    right: 10px;
}

.slider .ir-atras:hover,
.slider .ir-sig:hover{
    background-color: #7ef3df;
    color: #3e424d;
}

.casoBx {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    max-width: 100%;
    margin-top: 40px;
}

.persona{
    position: relative;
    width: 200px;
    min-height: 250px;
}

.casoBx .persona .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.casoBx .persona .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.casoBx .persona .details{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4b546d;
    opacity: 0;
    transition: .2s;
}

.casoBx .persona .details:hover{
    opacity: 1;
}

.casoBx .persona .details h2{
    color: #7ef3df;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: 200;
    font-family: 'Poppins';
    src: url(Poppins/Poppins-ExtraBold.ttf);
}

.casoBx .persona .details h2 span{
    font-size: 12px;
    font-weight: 200;
}

.services .box .iconBx{
    margin-top: 25px;
}


.services .box .iconBx img{
    max-width: 90px;
    margin-bottom: 15px;
}

.sec .services .box .content h2{
    font-weight: 846;
    color: #3e424d;
}

.stats{
    background: #3e424d;
    padding-top: 20px;
    margin-top: -20px;

}

.stats h3,
.stats p{
    color: #fff;
}

.statsBox{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    max-width: 100%;
    
}
.statsBox h2{
    color: #7ef3df;
    font-size: 36px;
}

.statsBox h4{
    color: #7ef3df;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.workBx{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    max-width: 100%;
    margin-top: 40px;

}

.workBx .brand{
    position: relative;
    background: #3e424d ;
    height: 280px;
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.workBx .brand:hover{
    background: #7ef3df;
}
.workBx .brand a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    height:270px;

}


.contact{
    background: #3e424d;

}

.contact h3, .contact p{
    color: #fff;
}

.contactForm{
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;

}

.contactForm form{
    width: 100%; 
}

.contactForm .row100{
    display: flex;
    width: 100%;

}

.contactForm .row100 .inputBx50{
    width: 100%;
    margin: 0 10px;

}

.contactForm .row100 .inputBx100{
    width: 100%;
    margin: 0 10px;
}

.contactForm .row100 input, 
.contactForm .row100 textarea{
    position: relative;
    border: none;
    border-bottom: 2px solid #7ef3df;
    color: #7ef3df;
    background: transparent;
    width: 100%;
    padding: 20px 0;
    outline: none;
    font-size: 18px;
    font-weight: 300;
    margin: 10px 0;
    resize: none;
    text-align: center;
    

}

.contactForm .row100 textarea{
    height:100px ;

}

.contactForm .row100 input::placeholder,
.contactForm .row100 textarea::placeholder{
    color: rgba(126,243,223);
}

.contactForm .row100 input[type="submit"]{
    background: #7ef3df;
    color: #3e424d;
    max-width: 150px;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    font-weight: 1000;
    text-align: center;
    margin: 50px 0;
}

/*Pract 7 */
#text1{
    display: block;
    color: #32455b;
    font-weight: 500;
    padding: 1px;
    text-align: left;
    margin-top: -10px;
}
#text2{
    display: block;
    color: #32455b;
    font-weight: 500;
    padding: 1px;
    text-align: left;
    margin-top: -10px;
}
#text4{
    display: block;
    color: #32455b;
    font-weight: 500;
    padding: 1px;
    text-align: left;
    margin-top: -10px;
}


.sci{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0;
}

.sci ul{
    display: flex;
}

.sci ul li{
    list-style: none;
}

.sci ul li a{
    text-decoration: none;
    display: inline-block;
    margin: 0 50px;

}

.sci ul li a img{
    filter: invert(1);
    max-width: 80px;

}

.sci ul li a:hover img{
    opacity: 0.1;
}

.imgFl img {
    max-width: 50px;
    min-height: 50px;
}

#button-up{
    width: 50px;
    height: 50px;
    background: #3e424d;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: 300ms;
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 50px;
}

#button-up:hover{
    transform: scale(1.1);
    border-color: rgba(126,243,223);
}

/*++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++*/
/* ESTILOS PARA PANTALLAS MAS PEQUENAS      */
/*++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++*/


@media (max-width: 900px){

    header ul.sub1 {
        position: absolute;
        visibility: hidden;
        flex-direction: column;
        top: 55px;
        left: px;
        text-align: center;
        background: #3e424d;
        width: 100%;
        height: 100vh;

    }

    header.active ul.sub1{
        visibility: visible;
        opacity: 1;
        padding-top: 20px;
        display: block;
    }

    header.active ul li a{
        display: inline-block;
        margin: 10px 0;
    }

    .btnMenu {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        background: #3e424d;
        cursor: pointer;
    }

    /* Pseudo-elementos:
    befeore (antes)
    after(despues)
    */

    .btnMenu::before{
        content: '';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: #7ef3df;
        z-index: 1;
        box-shadow: 0 10px 0 #7ef3df;

    }

    .btnMenu::after{
        content: '';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: #7ef3df;
        z-index: 1;
        transition: 0.5s;

    }

    header,
    header.sticky{
        padding: 5px 50px;
        background: #3e424d;
    }

    header .Tienda,
    header ul li a{
        color: #7ef3df;
    }

    .banner{
        background-position: center;
    }

    .banner h1{
        font-size: 60px;
        padding: 0;
    }

    .services .box {
        width: 100%;
    }

    .casoBx .persona{
        margin: 0 auto;
    }

    .advan .advanBox .box{
        margin: 0 auto;
    }
}
